<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h2>A Game Mania</h2>
            </a>
            <div class="opcoes">
                <p class="pt">Português(BR) - BRL</p>
                <button class="signup" data-bs-toggle="modal" data-bs-target="#exampleModal">Cadastar-se</button>
                <p class="separador">|</p>
                <a routerlink="/login" data-bs-toggle="modal" data-bs-target="#modalLogin"><img
                        src="/assets/img/login.png" alt="Login"></a>
                <a href=""><img src="/assets/img/carrinho.png" alt="Carrinho"></a>
            </div>
        </div>
    </nav>
    <div class="menu-bar">
        <ul>
            <li>
                <a href="../sobre-nos">A SetupGamer</a>
            </li>
            <li>
                <a href="#">Pc's gamers</a>
            </li>
            <li>
                <a href="#">WorkStation</a>
            </li>
            <li>
                <a href="#">Pc's office</a>
            </li>
            <li>
                <a href="#">Peças</a>
            </li>
            <li>
                <a href="../monte-seu-pc">Monte seu pc</a>
            </li>
        </ul>
    </div>
</header>