<!-- Modal Login-->
<main>
    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" (ngSubmit)="recebeDados()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div className="form-floating">
                        <label for="floatingInput">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="email"
                            [(ngModel)]="userModel.email"/>
                    </div>
                    <div className="form-floating">
                        <label for="floatingInput">Senha</label>
                        <input type="number" class="form-control" id="password" placeholder="senha"
                            [(ngModel)]="userModel.password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                    <button data-toggle="button" type="submit" class="btn-custon btn-primary active" role="button" aria-pressed="true">Enviar</button>
                </div>
                <div style="display: none" id="sucesso" class="alert alert-success" role="alert">
                    Logado com suceso!
                </div>
                <div style="display: none" id="incorreto" class="alert alert-danger" role="alert">
                    Credenciais incorretas!
                </div>
            </div>
        </div>
    </div>
</main>