/* You can add global styles to this file, and also import other style files */
* {
    background-image: linear-gradient(
        180deg,
        #242424 75%,
        black 95%,
        #43C822 100%
    );
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Oswald", sans-serif;
}